body {
  font-family: 'Raleway', sans-serif;
  background-image: url('../img/main.gif');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*nav*/
a {
  color: #2c363f;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #483D8B;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 400;
}

.container {
  text-align: right;
}
